<p id="notice"><%= notice %></p>

<h1>Listado de Compromisos</h1>

<table class="table table-condensed table-hover table-responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Ciudad origen</th>
      <th>Edad</th>
      <th>Compromiso</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @compromisos.each do |compromiso| %>
      <tr>
        <td><%= compromiso.nombre %></td>
        <td><%= compromiso.email %></td>
        <td><%= compromiso.ciudad_origen %></td>
        <td><%= compromiso.edad %></td>
        <td><%= compromiso.compromiso %></td>
        <td><%= link_to 'Mostrar', compromiso %> |
          <%= link_to 'Editar', edit_compromiso_path(compromiso) %> |
          <%= link_to 'Destruir!!!', compromiso, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Compromiso', new_compromiso_path, :class => 'btn btn-info btn-xs'  %>
