<p id="notice"><%= notice %></p>

<h1>Listado de Compromisos</h1>

<table class="table table-condensed table-hover table-responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Ciudad origen</th>
      <th>Edad</th>
      <th>Compromiso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compromisos.each do |compromiso| %>
      <tr>
        <td><%= compromiso.nombre %></td>
        <td><%= compromiso.apellido %></td>
        <td><%= compromiso.email %></td>
        <td><%= compromiso.ciudad_origen %></td>
        <td><%= compromiso.edad %></td>
        <td><%= compromiso.compromiso %></td>
        <td><%# link_to 'Show', compromiso %></td>
        <td><%# link_to 'Edit', edit_compromiso_path(compromiso) %></td>
        <td><%# link_to 'Destroy', compromiso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'Nuevo Compromiso', new_compromiso_path, :class => 'btn btn-info btn-xs'  %>
