<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @compromiso.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @compromiso.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @compromiso.email %>
</p>

<p>
  <strong>Ciudad origen:</strong>
  <%= @compromiso.ciudad_origen %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @compromiso.edad %>
</p>

<p>
  <strong>Compromiso:</strong>
  <%= @compromiso.compromiso %>
</p>

<%= link_to 'Edit', edit_compromiso_path(@compromiso) %> |
<%= link_to 'Back', compromisos_path %>
